[Unit]
Description=Content Dashboard Proxy service
After=network.target
ConditionPathExists=!/Sites/content-dashboard/content-dashboard-proxy_not_to_be_run

[Service]
WorkingDirectory=/Sites/content-dashboard
EnvironmentFile=/Sites/content-dashboard/.env
ExecStart=/Sites/content-dashboard/bin/content-dashboard-proxy content_dashboard.yaml
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
Alias=content-dashboard-proxy.service
